<div class="container-fluid">
  <div class="row">
    <div class="col-6 left-panel" style="background:url('assets/background.jpg')">
      <div class="left-panel-div">
        <h1 class="left-panel-h1">Welcome to Snowball.</h1>
        <h3 class="left-panel-h3">Event Management. Smarter.</h3>
      </div>
    </div>
    <div class="col-6 right-panel">
        <img src="../assets/DVTlogoDark.png" alt="dvt logo" class="right-panel-img-logo">
      <div class="right-panel-form">
        <form [formGroup] = "loginForm" (ngSubmit)="onLoginButtonClick()" >
            <div class="form-group">
                <input type="email" class="form-control" formControlName="loginEmail" name="loginEmail" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': filledIn && loginForm.controls.loginEmail }" />
                <div *ngIf="filledIn && controller?.loginEmail?.errosr.required" class="invalid-feedback">
                    <div *ngIf="loginForm.controls.loginEmail?.required">Email address is required</div>
                </div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="loginPassword" placeholder="Password" formControlName="loginPassword">
              </div>
              <button type="submit" class="btn right-panel-form-button">Log In</button>
        </form>
      </div>
    </div>
    </div>
</div>