<div class="sidenav">
    <img src="../assets/dvt_logo_circle.png" alt="dvt logo" class="admin-portal-nav-img-logo"/>
    <h1 class="snowball-heading">Snowball</h1>
    <hr style="height: 10px"/>
    <a href="snowball-portal">Admin Portal</a>
    <a href="#events">Events</a>
    <a href="#notifications">Notifications</a>
    <a href="#about">About</a>
    <a href="#settings">Settings</a>
  </div>
  <div class="main">
    <div class="portal">
      <div class="portal-current-user"><i class="fa fa-user-o"></i>
      </div>
      <div><h5> User Management</h5></div>
      <div class="usersTable">
        <app-user-list></app-user-list>
        <button type="submit" class="btn btn-primary addUserButton" onclick="addUser()">Add User</button>
        <div id="formDiv"><app-user></app-user></div>
      </div>
    </div>
  </div>