<div class="sidenav">
    <img src="../assets/dvt_logo_circle.png" alt="dvt logo" class="admin-portal-nav-img-logo"/>
    <h1 class="snowball-heading">Snowball</h1>
    <hr style="height: 10px"/>
    <a href="snowball-portal">Admin Portal</a>
    <a href="#events">Events</a>
    <a href="#notifications">Notifications</a>
    <a href="#about">About</a>
    <a href="#settings">Settings</a>
  </div>
  <div class="main">
    <div class="portal">
      <div class="portal-current-user"><i class="fa fa-user-o"></i>
      </div>
      <div> User Management</div>
      <div class="usersTable">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Active</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>